body {
    color: #ffffff;
}

header {
    min-height: 100vh;
    background-image: url("../img/bg-xl.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.jumbotron {
    margin-top: 30vh;
    background-color: #00000066 !important;
}